LANGSMITH_API_KEY="xxx"
OPENAI_API_KEY="xxx"
GOOGLE_API_KEY="xxx"
TAVILY_API_KEY="xxx"
PINECONE_API_KEY="xxx"
DATABASE_URL="sqlite:///./sqlite.db"
REDIS_URI="redis://langgraph-redis:6379"
POSTGRES_URI="postgres://postgres:postgres@langgraph-postgres:5432/postgres?sslmode=disable"